*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  width: 100vw;
}

body {
  width: 100%;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  overflow-x: hidden;
}